:root {
  --basic-light: #ffffff;
  --yellow-light: #FFE17F;
  --gray:#F0F0F0;
  --main-font: 16px;
  --second-font: 18px;
  --main-color: #000000;
  --yellow-hover: #ffc700;
  --violet: #af4fff;
  --error: #ff3d3d;
  --alert: #fd912e;
  --success: #08af000;
  --focus: #AF4FFF
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubick";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubick";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Rubick", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  padding-top: 45px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--yellow-light);
  position: relative;
  margin-top: 40px;
  min-height: 186px;
}

.logo-link {
  position: absolute;
  top: -22px;
  left: 60px;
}

.logo-link:hover,
.footer-logo-link:hover {
  opacity: 0.6;
}

.logo-link:active,
.footer-logo-link:active {
  opacity: 0.3;
}

.logo-link:focus,
.footer-logo-link:focus {
  outline: 2px solid var(--focus);
}

.users-navigation-menu {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 46px;
}

.users-navigation {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  align-items: center;
}

.users-navigation .log-out {
  display: none;
}

.user-navigation-item:not(:last-child) {
  margin-right: 34px;
}

.user-navigation-item:nth-child(2) {
  margin-right: 28px;
}

.user-navigation-item.logout {
  display: none;
}

.user-navigation-item:first-child {
  margin-right: auto;
}

.user-navigation-item .navigation-item-link{
  color: var(--main-color);
  font-size: var(--second-font);
  text-decoration: none;
  line-height: 30px;
  position: relative;
}

.navigation-item-link:hover {
  opacity: 0.6;
}

.navigation-item-link:active {
  opacity: 0.3;
}

.navigation-item-link:focus {
  outline: 2px solid var(--focus);
}

.user-navigation-item .login {
  padding-left: 25px;
}

.user-navigation-item .login::before {
  position: absolute;
  width: 13px;
  height: 14px;
  left: -1px;
  bottom: 4px;
  content:'';
  background-image: url("../images/svg/login.svg");
  background-repeat: no-repeat;
}

.difference {
  padding-left: 22px;
}

.difference::before {
  content:'';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 10px;
  height: 12px;
  background-image: url("../images/svg/different.svg");
  background-repeat: no-repeat;
}

.busket {
  padding-left: 28px;
}

.busket::before {
  content:'';
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 16px;
  height: 14px;
  background-image: url("../images/svg/basket.svg");
  background-repeat: no-repeat;
}

.busket-counter {
  position: absolute;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  font-family: "Rubick", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color:var(--main-color);
  left: -16px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-field,
.search-input-field::placeholder {
  width: 359px;
  font-family: "Rubick", sans-serif;
  font-size: var(--main-font);
  line-height: 20px;
  color: var(--main-color);
}

.search-input-field::placeholder {
  color: rgba(0,0,0,0.3)
}

.search-input-field {
  border: 2px solid var(--main-color);
  border-radius: 50px 0 0 50px;
  background-color: transparent;
  padding: 8px 10px 8px 48px;
  height: 100%;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.search-input-field:focus {
  outline: 2px solid var(--focus);
}

.search-form {
  display: grid;
  grid-template-columns: 359px 160px;
  margin-right: 26px;
}

.search-form-btn {
  min-width: 160px;
  font-family: "Rubick", sans-serif;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: 20px;
  border-radius: 0 50px 50px 0;
  padding: 8px 50px;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-left: none;
}

.search-form-btn:hover {
  background-color: var(--main-color);
  color: #ffffff;
}

.search-form-btn:active {
  color: rgba(255,255,255,0.3)
}

.search-form-btn:focus {
  outline: 2px solid var(--focus);
}

.basket-links {
  border-right: 0px solid transparent;
  margin-left: auto;
}

.services {
  display: flex;
  justify-content: space-around;
}

.services-list {
  display: flex;
  column-gap: 46px;
}

.services-list:last-child {
  margin-right: -3px;
}

.services-item-link {
  position: relative;
  z-index:1;
}

.services-item-link:hover {
  opacity: 0.6;
}

.services-item-link:active {
  opacity: 0.3;
}

.services-item-link:focus {
  outline: 2px solid var(--focus);
}

.services-item-link_active {
  position: relative;
}

.services-item-link_active::after {
  position: absolute;
  content:'';
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

.no-grass,
.catalog-submenu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog {
  display: flex;
  flex-grow: 1;
}

.services-item:nth-of-type(2) {
  margin-left: auto;
}

.catalog-link {
  font-size: var(--second-font);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--main-color);
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-main-link {
  padding-right: 57px;
  position: relative;
}

.catalog-main-link::after {
  content:'';
  width: 50px;
  height: 50px;
  position: absolute;
  right: -10px;
  bottom: -13px;
  background-image: url("../images/svg/plus.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.catalog-main-link:hover::after {
  content:'';
  width: 50px;
  height: 50px;
  position: absolute;
  right: -10px;
  bottom: -13px;
  background-image: url("../images/svg/minus.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.list-wrapper {
  display: none;
  padding-top: 33px;
}

.submenu-item .submenu-link {
  font-family: "Rubick", sans-serif;
  font-size: var(--second-font);
  color: var(--main-color);
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}

.submenu-item .submenu-link:hover {
  opacity: 0.6;
}

.submenu-item .submenu-link:active {
  opacity: 0.3;
}

.submenu-item .submenu-link:focus {
  outline: 2px solid var(--focus);
}

.catalog-item:first-of-type:hover .list-wrapper {
  display: flex;
  background-color: rgba(255, 225, 127, 0.9);
  width: 100%;
  position: absolute;
  left: 0;
  padding-left: 60px;
  min-height: 180px;
  z-index: 2;
}

.catalog-submenu {
  display: grid;
  row-gap: 25px;
  grid-template-rows: repeat(3, min-content);
  margin-bottom: 25px;
  margin-right: 35px;
}

.header-main-menu {
  background-color: var(--yellow-light);
  display: flex;
  flex-wrap: wrap;
}

/* Slider */

.promo {
  position: relative;
  padding-top: 85px;
  background: linear-gradient(to bottom, #ffe17f 113px, #ffffff 114px);
}

.image-wrapper {
  margin-top: -121px;
  z-index: 1;
  position: relative;
}

.slider {
  display: flex;
}

.slider .slider-title,
.service-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px
}

.slider-description {
  color: #444444;
  padding: 0 10px 0 40px;
  z-index: 1;
}

.slider-descriptions {
  line-height: 30px;
  margin: 0;
  margin-bottom: 60px;
}

.table-property-title {
  font-size: 36px;
  line-height: 30px;
}

.table-property-description {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: var(--second-font);
  line-height: 21px;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
}

.slider-title,
.slider-description {
  margin: 0;
}

.slider-title {
  margin-bottom: 30px;
}

.slider-link {
  text-transform: uppercase;
  width: 210px;
  padding: 5px 38px;
  letter-spacing: 0.2em;
  position: relative;
}

.slider-link::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:var(--yellow-light);
  width: 100%;
  position: absolute;
  content:'';
  height: 100%;
  z-index:-1;
  transform: scaleY(0.2);
  transition: transform ease-in-out 0.5s;
}

.slider-link:hover::after {
  transform: scaleY(1);
  transition: transform 0.5s ease-in-out;
}

.property {
  display: flex;
  margin-top: 55px;
}

.property tbody {
  width: 100%;
}

.property tr {
  display: flex;
}

.property tbody tr:first-child {
  margin-bottom: 10px;
}

.table-property-title:first-child {
  margin-right: 55px;
}

.table-property-description:first-child {
  margin-right: 20px;
}

.slider-wrapper {
  counter-reset: num-slider;
  position: relative;
  margin-bottom: 65px;
}

.slider-wrapper .slider {
  counter-increment: num-slider;
}

.slider-wrapper::after {
  content: '0'counter(num-slider);
  position: absolute;
  right: 48px;
  top: -40px;
  color:#ffffff;
  font-size: 180px;
  line-height: 30px;
  font-family: "Rubick", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
}

.controls-inputs {
  position: absolute;
  right: 0;
  top: 340px;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 20px;
  z-index:3;
}

.controls-inputs input[type="radio"] {
  display: none;
}

.control-mark {
  position: relative;
  width: 12px;
  height: 12px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  display: block;
}

.controls-inputs input[type="radio"]:checked ~ .control-mark {
  background-color: var(--main-color);
}

.control-buttons {
  position: absolute;
  top: 37.5%;
  display: flex;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 30px;
}

.slider-buttons {
  width: 20px;
  height: 60px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider-buttons:hover {
  opacity: 0.6;
}

.slider-buttons:active {
  opacity: 0.3;
}

.slider-buttons:focus {
  outline: 2px solid var(--focus);
}

.previous-slide {
  background-image: url("../images/svg/left-arrow.svg");
}

.next-slide {
  background-image: url("../images/svg/right-arrow.svg");
}

/* Goods list */

.goods {
  margin-bottom: 185px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  column-gap: 40px;
}

.goods-list-link {
  font-family: "Raleway", sans-serif;
  font-size: var(--second-font);
  font-weight: 800;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
  display: block;
}

.goods-list-link:hover .goods-link-background {
  background-color: var(--yellow-hover);
}

.goods-list-link:active {
  opacity: 0.3;
}

.goods-list-link:focus {
  outline: 2px solid var(--violet);
}

.goods-link-background {
  background-color: var(--yellow-light);
  min-width: 160px;
  min-height: 160px;
  display: block;
  margin-bottom: 33px;
  background-position: 50% 51%;
  background-repeat: no-repeat;
}

.goods-link-description {
  width: 100%;
  display: block;
  letter-spacing: -0.02em;
}

.virtual {
  background-image: url("../images/svg/VR.svg");
  width: 97px;
  height: 55px;
}

.monopods {
  background-image: url("../images/svg/monopod.svg");
  width: 89px;
  height: 117px;
  background-position: 50% 100%;
}

.camera {
  background-image: url("../images/svg/camera.svg");
  width: 71px;
  height: 87px;
}

.fitness {
  background-image: url("../images/svg/fitness.svg");
  width: 108px;
  height: 65px;
}

.smart {
  background-image: url("../images/svg/smart-clocks.svg");
  width: 56px;
  height: 98px;
}

.quadro {
  background-image: url("../images/svg/quadro.svg");
  width: 132px;
  height: 70px;
}
/* Слайдер с услугами */

.controls-radio {
  margin-top: -38px;
  position: relative;
}

.controls-radio input[type="radio"] {
  display: none;
}

.controls-radio label {
  text-transform: uppercase;
  width: 160px;
  padding: 5px 10px 5px 20px;
  letter-spacing: 0.2em;
  position: relative;
  z-index: 1;
  text-align: center;
}

.controls-radio label:hover::after {
  transform: scaleY(1);
}

.controls-radio label::after {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color:var(--yellow-light);
  width: 100%;
  position: absolute;
  content:'';
  height: 100%;
  z-index:-1;
  transform: scaleY(0.2);
  transition: transform ease-in-out 0.5s;
}

.controls-radio input[type="radio"]:checked + label::after{
  background-color:#000000;
  transform: scaleY(1);
  z-index: -1;
}

.controls-radio input[type="radio"]:checked + label{
  color:var(--yellow-light);
  width: 280px;
  text-align: start;
  padding: 10px 20px;
}

.service-slider {
  display: flex;
}

.service-slider-description {
  line-height: 30px;
  color: #444444;
  margin: 0;
  width: 100%;
  padding-right: 200px
}

.service-content {
  padding-left: 123px;
  margin-top: -30px;
  padding-right: 50px;
  width: 100%;
  min-height: 320px;
  position: relative;
}

.slider-quaranty {
  padding-left: 123px;
  margin-top: -30px;
  padding-right: 50px;
  width: 100%;
  min-height: 320px;
  position: relative;
  display: none;
}

.slider-quaranty::after {
  position: absolute;
  content: url("../images/svg/quaranty.svg");
  right: 63px;
  top: 5px;
}

.slider-credit {
  padding-left: 123px;
  margin-top: -30px;
  padding-right: 50px;
  width: 100%;
  min-height: 320px;
  position: relative;
  display: none;
}

.slider-credit::after {
  position: absolute;
  content: url("../images/svg/credit.svg");
  right: 63px;
  top: 5px;
}

#qaranty:checked  div[class~="slider-quaranty"] {
  display: flex;
}

.service-slider .controls-radio {
 display: grid;
 grid-template-rows: repeat(3, min-content);
 row-gap: 40px;
}

.service-slider-title {
  margin: 0;
  margin-bottom: 35px;
}

.controls-radio::after {
  content:'';
  position: absolute;
  right: -7px;
  width: 7px;
  height: 319px;
  top: -64px;
  background-color: #000000;
}

.service {
  width: 100%;
  background-color: var(--gray);
  margin-bottom: 70px;
}

.service-content::after {
  position: absolute;
  content: url("../images/svg/courier.svg");
  right: 63px;
  top: 5px;
}

.exotic-title {
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color:#000000;
  padding: 38px 125px;
  display: block;
  position: relative;
}

.exotic-title:hover::before {
  background-color: var(--yellow-hover);
}

.exotic-title:active {
  opacity: 0.3;
}

.exotic-title:focus {
  outline: 2px solid var(--violet);
}

.exotic-goods {
background-color: #f0f0f0;
position: relative;
margin-bottom: 75px;
}

.exotic-title::before {
  position: absolute;
  content:'';
  width: 125px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--yellow-light);
  background-image: url("../images/svg/car.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.info {
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-image: url("../images/svg/Info.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 43px;
  top: calc(100% - 70%);
  opacity: 0.5;
}

.info img {
  position: absolute;

}

.contacts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 96px;
  margin-bottom: 76px;
}

.contacts-description {
  padding-right: 35px;
  margin-bottom: 30px;
}

.about-us {
  padding-right: 50px;
}

.about-us,
.contacts {
  padding-top: 40px;
  position: relative;
}

.about-us::before,
.contacts::before {
  width: 84px;
  height: 7px;
  position: absolute;
  top: -7px;
  left: 0;
  background-color: #000000;
  content:'';
}

.contacts-description,
.about-description,
.about-description-secondary {
  margin: 0;
}

.about-description-secondary {
  margin-bottom: 30px;
}

.about-description,
.contacts-description {
  margin-bottom: 30px;
}

.contacts-title-company {
  margin: 0;
  font-family: "Rubick", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
  margin-bottom: 15px;
}

.about-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  margin: 0;
  margin-bottom: 50px;
}

.partners-list {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 19px;
  margin-bottom: 38px;
}

.partners-list-item {
  font-weight: 700;
  line-height: 20px;
  padding-left: 37px;
  position: relative;
}

.partners-list-item::before {
  content:'';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--yellow-light);
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

.adress-description {
  color: #444444;
  line-height: 30px;
  font-style: normal;
  margin: 10px;
}

.about-description,
.contacts-description,
.about-description-secondary,
.address-description {
  color: #444444;
  line-height: 30px;
}

.about-link {
  min-width: 270px;
  padding: 5px 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.phone-number {
  font-family: "Rubick", sans-serif;
  font-weight: 400;
  font-size: var(--second-font);
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  position: relative;
}

.phone-number::after {
  content:'';
  width: 100%;
  height: 1px;
  background-color: #444444;
  bottom: 3px;
  left: 0;
  position: absolute;
}

.company-address {
  margin-bottom: 27px;
}

.worktime {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 8px;
  margin-bottom: 28px;
}

.btn::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transform: scaleY(0.2);
  transition: transform ease-in-out 0.5s;
  background-color: var(--yellow-light);
  height: 100%;
  z-index: -1;
}

.btn:hover::after {
  transform: scaleY(1);
  transition: transform ease-in-out 0.5s;
}

.btn:active::after {
  background-color: var(--yellow-hover);
}

.btn:focus {
  outline: 2px solid var(--focus);
}

.worktime-title {
  font-weight: 700;
  color: #444444;
  line-height: 30px;
  font-size: 24px;
  font-family: inherit;
}

.time {
  padding-left: 5px;
}

.workdays,
.time {
  line-height: 30px;
  color: #444444;
  font-style: normal;
}

.feedback {
  min-width: 260px;
  text-align: center;
  padding: 5px 35px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe {
  background-color: var(--gray);
  padding-top: 65px;
  padding-bottom: 57px;
}

.subscribe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 133px;
}

.subscribe-form {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 558px 253px 1fr;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  width: 60%;
  padding: 0 8px;
}

.subscribe-description {
  color: #444444;
  line-height: 30px;
  margin: 0;
  padding: 10px 26px;
}

.subscribe-input {
  line-height: 30px;
  color: #444444;
  font-family: "Rubick", sans-serif;
  font-size: var(--main-font);
  font-weight: 400;
  padding-left: 17px;
  padding-top: 5px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #c4c4c4;
}

.subscribe-input::placeholder {
  line-height: 30px;
  color: #444444;
  font-family: "Rubick", sans-serif;
  font-size: var(--second-font);
  font-weight: 400;
  opacity: 0.5;
}

.subscribe-input:focus {
  background-color: #dcdcdc;
  outline: none;
}

.subscribe-input:invalid {
  border-bottom: 3px solid var(--error);
}

.subscribe-form-input {
  width: 100%;
}

.subscribe-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
  font-weight: 800;
  text-align: center;
  border: 3px solid #c4c4c4;
  letter-spacing: 0.2em;
  padding: 15px 35px;
}

.subscribe-btn:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.other-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
  position: relative;
  justify-self: end;
}

.success {
  position: absolute;
  left: -2px;
  width: 14px;
  height: 14px;
  bottom: calc(50% - 7px);
  background-repeat: no-repeat;
  background-image: url("../images/svg/success.svg");
}

.page-footer {
  background-color: #444444;
}

.footer-section {
  padding: 60px 0;
}

.footer-link {
  font-family:"Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 5px 0;
  position: relative;
}

.footer-link:hover {
  color: var(--yellow-hover);
}

.footer-link:active {
  opacity: 0.3;
}

.footer-link:focus {
  outline: 2px solid var(--focus);
}

.footer-link::after {
  height: 2px;
  position: absolute;
  bottom: 4px;
  left: 0;
  content: '';
  background-color: var(--yellow-hover);
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.footer-link:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.footer-links-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column:3/4;
  column-gap: 32px;
}

.footer-links-item {
  display: flex;
}

.footer-logo {
  margin-bottom: 32px;
}

.footer-logo-link svg {
  fill: var(--yellow-hover);
}

.company-footer-address .adress-description {
  margin: 0;
}

.company-footer-address {
  max-width: 240px;
}

.footer-phone {
  font-family: "Rubick", sans-serif;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: 20px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  padding: 2px 2px;
  align-self: start;
  margin-top: 3px;
}

.footer-phone:hover {
  color: var(--yellow-hover);
}

.footer-phone:hover::after {
  background-color: var(--yellow-hover);
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-phone:focus {
  outline: 2px solid var(--focus);
}

.footer-phone::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  bottom: 3px;
  left: 0;
}

.adress-description {
  font-size: var(--main-font);
  color: #ffffff;
  font-style: normal;
  line-height: 20px;
}

.footer-contacts {
  display: grid;
  grid-template-columns: max-content 115px 1fr max-content;
  margin-bottom: 48px;
}

.empty {
  width: 80px;
  height: 7px;
  background-color: var(--yellow-hover);
  display: flex;
  align-self: center
}

.footer-academy-link {
  margin-left: auto;
}

.footer-academy-link:hover svg {
  fill: #ffffff;
}

.footer-academy-link:active {
  opacity: 0.3;
}

.footer-academy-link:focus {
  outline: 2px solid var(--focus);
}

.footer-academy-link svg {
  fill: var(--yellow-hover);
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3,max-content);
  justify-content: center;
  margin-left: 36px;
  column-gap: 15px;
}

.social-row {
  display: grid;
  grid-template-columns: 80px 1fr max-content;
  align-items: end;
}

.footer-social-link {
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.3);
  justify-content: center;
  gap: 15px;
  flex-grow: 1;
}

.footer-social-link svg {
  fill: #444444;
}

.footer-social-link:hover {
  background-color: var(--yellow-hover);
}

.footer-social-link:active svg {
  opacity: 0.3;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:focus {
  outline: 2px solid var(--focus);
}

.facebook svg{
  width: 9px;
  height: 18px;
}

.instagram svg{
  width: 16px;
  height: 16px;
}

.twitter svg{
  height: 15px;
  width: 15px;
}

/*Modal*/

.modal-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:4;
  background-color: rgba(240,240,240,0.9);
  place-content: center;
  display: none;
}

.modal-container {
  min-width: 920px;
  border: 10px solid #000000;
  background-color: #ffffff;
  padding: 60px 70px;
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 42px;
  grid-template-rows: max-content 1fr;
  margin: auto;
  font-size: 18px;
  color: var(--main-color);
  font-family: "Rubick", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.modal-form input {
  background-color: #f0f0f0;
  border: none;
}

.modal-form input::placeholder {
  font-family: "Rubick", sans-serif;
  font-size: var(--main-font);
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
  font-style: normal;
}

.modal-close-btn {
  width: 26px;
  height: 26px;
  background-image: url("../images/svg/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  align-self: center;
}

.modal-close-btn:hover {
  opacity: 0.6;
}

.modal-close-btn:active {
  opacity: 0.3;
}

.modal-close-btn:focus {
  outline: 2px solid var(--focus);
}

.modal-title {
  margin: 0;
}

.modal-form {
  display: grid;
  grid-column: 1/-1;
  grid-template-rows: 115px 95px 40px;
  row-gap: 42px;
}

.input-wrapper {
  display: grid;
  grid-template-rows: max-content 60px;
  row-gap: 15px;
}

.inputs-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.exotic-description {
  padding-left: 20px;
}

.exotic-field-info {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--yellow-light);
  background-image: url("../images/svg/modal-info.svg");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -2px;
}

.exotic-field-info:hover .exotic-info-text {
  display: block;
}

.exotic-info-text {
  position: absolute;
  background-color: #000000;
  padding: 17px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Rubick", sans-serif;
  min-width: 200px;
  font-size: 16px;
  line-height: 20px;
  top: 35px;
  left: -130px;
  z-index: 2;
  display: none;
}

.exotic-info-text::before {
  content:'';
  position: absolute;
  top: -6px;
  right: 50px;
  width: 14px;
  height: 6px;
  background-image: url("../images/svg/triangle.svg");
  z-index: 2;
}

.exotic-order-wrapper {
  display: grid;
  grid-template-rows: max-content 60px;
  row-gap: 14px;
}

.exotic-title-span {
  display: grid;
  position: relative;
  grid-template-columns: max-content 60px;
  column-gap: 5px;
}

.exotic-order {
  display: grid;
  grid-template-columns: 1fr 180px;
  column-gap: 40px;
}

.exotic-amount {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  appearance: none;
  display: flex;
}

.exotic-amount:invalid {
  outline: 2px solid var(--error);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.exotic-amount-container {
  display: grid;
  grid-template-rows: max-content 60px;
  row-gap: 10px;
}

.amount-btn-minus {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}

.amount-btn-plus {
  grid-row: 1/2;
  grid-column: -2/-1;
}

.amount-btn-wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  min-width: 180px;
}

.modal-name-input,
.modal-mail-input {
  padding-left: 20px;
  padding-right: 24px;
  background-repeat: no-repeat;
}

.modal-name-input {
  background-image: url("../images/svg/modal-person.svg");
  background-position: 93% 50%;
}

.modal-mail-input {
  background-image: url("../images/svg/modal-mail.svg");
  background-position: 93% 50%;
}

.modal-mail-input:invalid{
  outline: 2px solid var(--error);
}

.modal-form-submit-btn {
  width: 200px;
  border: none;
  background-color: transparent;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.modal-button {
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal-button:hover {
  opacity: 0.6;
}

.modal-button:active {
  opacity: 0.3;
}

.modal-button:focus {
  outline: 2px solid var(--focus);
}

.amount-btn-minus {
  background-image: url("../images/svg/modal-minus.svg");
}

.amount-btn-plus {
  background-image: url("../images/svg/modal-plus.svg");
}

.service-content,
.slider-quaranty,
.slider-credit {
  display: none;
}

.active-slider {
  display: block;
}


/* catalog */

.catalog-wrapper {
  padding-left: 60px;
  padding-right: 49px;
  padding-top: 35px;
  margin-bottom: 35px;
}

.catalog-main-content {
  background-color: #f0f0f0;
}

.catalog-header {
  background-color: #ffffff;
  min-height: 157px;
}

.catalog-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: var(--main-color);
  margin-bottom: 15px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-family: "Rubick", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-font);
  line-height: 19px;
  color: var(--main-color);
}

.breadcrumbs-list-item:not(:last-child) {
  padding-right: 38px;
  position: relative;
}

.breadcrumbs-list-item:not(:last-child)::after {
  content:'';
  position: absolute;
  right: 15px;
  top: 7px;
  background-image: url("../images/svg/breadcrumbs-arrow.svg");
  width: 4px;
  height: 7px;
  opacity: 0.2;
}

.breadcrumbs-list {
  display: flex;
}

.select-menu {
  position: absolute;
  background-color: #f0f0f0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
}

.select-menu-item {
  text-align: start;
  padding: 5px 5px;
  z-index: 2;
}

.select-menu-item  .select-menu-item-link {
  text-decoration: none;
  font-family: "Rubick", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--main-color);
}

.filter-section {
  min-width: 320px;
  padding-top: 25px;
  padding-left: 60px;
}

.filter-title {
  margin: 0;
  margin-bottom: 60px;
}

.range-slider {
  width: 100%;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 15px;
}

.slider-bar {
  width: 119px;
  height: 2px;
  background-color: #000000;
  position: relative;
}

.range-button {
  background-color: #ebebeb;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 18px;
  height: 18px;
  position: absolute;
}

.range-button:hover {
  border: 2px solid rgb(50%,50%,50%);
}

.range-button:active {
  background-color: var(--main-color);
}

.range-button:focus {
  outline: 2px solid var(--violet);
}

.toggle-min {
  left: -9px;
  bottom: -8px;
}

.toggle-max {
  right: -9px;
  bottom: -8px;
}

.filter-title,
.sort-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 800;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
  max-width: 200px;
}

.catalog-filter-group:nth-child(2) .catalog-filter-group-title {
  margin-bottom: 20px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-group-title {
  margin-bottom: 20px;
}

.catalog-filter-group:nth-child(3) {
  margin-bottom: 20px;
}


.catalog-filter-price {
  display: grid;
  margin-left: -16px;
  grid-template-columns: min-content min-content;
  column-gap: 35px;
}

.catalog-filter-label {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 2px;
}

.catalog-filter-input {
  max-width: 50px;
  border: none;
  background-color: transparent;
}

.catalog-filter-input:focus {
  outline: 2px solid var(--violet);
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  font-weight: 400;
  font-family: "Rubick", sans-serif;
}

.catalog-filter-form {
  max-width: 220px;
  padding-top: 10px;
}

.filter-form-submit {
  background-color: transparent;
  border: none;
  z-index: 1;
  width: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-form input[type="checkbox"],
.catalog-filter-form input[type="radio"] {
  display: none;
}

.control {
  padding-left: 36px;
  position: relative;
}

.color-list {
  display: grid;
  row-gap: 15px;
}

.color-list-item:hover,
.bluetooth-list-item:hover {
  opacity: 0.6;
}

.color-list-item:active,
.bluetooth-list-item:active {
  opacity: 0.3;
}

.color-list-item .filter-control-mark {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #cccccc;
  position: absolute;
  left: 0;
  top: 0;
}

.bluetooth-list-item {
  margin-bottom: 20px;
}

.bluetooth-list-item .filter-control-mark {
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}

.bluetooth-list-item input[type="radio"]:checked ~ .filter-control-mark {
  border-color: var(--main-color);
}

.bluetooth-list-item input[type="radio"]:checked ~ .filter-control-mark::after {
  width: 8px;
  height: 8px;
  position: absolute;
  content:'';
  top: 4px;
  left: 4px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.color-list-item input[type="checkbox"]:checked ~ .filter-control-mark {
  border-color: var(--main-color);
}

.color-list-item input[type="checkbox"]:checked ~ .filter-control-mark::after {
  content:'';
  width: 10px;
  height: 10px;
  background-image: url("../images/svg/confirm.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 3px;
  top: 3px;
}

.catalog-filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--main-color);
  font-style: normal;
  margin-bottom: 28px;
  padding: 0;
}

.control-label {
  line-height: 19px;
  font-size: var(--main-font);
}

.cards-wrapper {
  background-color: #ffffff;
  min-width: 840px;
  padding-bottom: 78px;
}

.cards-sort {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  padding: 23px 40px;
}

.sort-list {
  text-align: center;
  position: relative;
  margin-right: 10px;
}

.select-btn:hover,
.select-menu li:hover {
  opacity: 0.6;
}

.sort-list[open] .select-btn::after {
  transform: rotate(180deg);
}

.sort-button {
  border: none;
  background-color: transparent;
  background-image: url("../images/svg/filter-arrow.svg");
  opacity: 0.2;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.sort-button:hover {
  opacity: 0.6;
}

.sort-button:active {
  opacity: 1;
}

.cheap {
  transform: rotate(180deg);
}

.logout {
  opacity: 0.3;
}

.sort-buttons-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 18px;
  padding-right: 8px;
  align-items: center;
}

.cards-section {
  padding: 70px 40px 45px 40px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px,1fr));
  column-gap: 40px;
  row-gap: 45px;
}

.select-btn {
  display: grid;
  grid-template-columns: 1fr 50px;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 5px;
}

.select-btn::after {
  position: absolute;
  right: 15px;
  top: 8px;
  content: '';
  width: 9px;
  height: 6px;
  background-image: url("../images/svg/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.product-card {
  min-height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info {
  position: absolute;
  display: none;
  height: 98%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240,240,240,0.8);
}

.product-card-image-wrapper {
  position: relative;
  background-color: #f0f0f0;
}

.product-card:nth-child(2) .product-card-image-wrapper::after {
  position: absolute;
  top: 50px;
  right: 50px;
  content: url("../images/svg/New.svg");
  width: 60px;
  height: 60px;
}

.product-card-image {
  object-fit: cover;
}

.product-card-image-wrapper:hover .more-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card:nth-child(2) .product-card-image-wrapper:hover::after {
  opacity: 0.6;
}

.product-card:nth-child(2):active .product-card-image-wrapper::after {
  opacity: 0.3;
}

.product-card:hover .product-card-description {
  opacity: 0.6;
}

.product-card:active .product-card-description {
  opacity: 0.3;
}

.more-info-link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 1;
}

.product-card-description {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 30%;
}

.product-card-description .card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.card-price {
  color: #444444;
  text-align: end;
}

.sort-title {
  margin: 0;
}

.catalog-btn-wrapper {
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 43px;
}

.catalog-more-btn {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
  border: 3px solid #e5e5e5;
  background-color: transparent;
  padding: 15px 39px;
  cursor: pointer;
}

.catalog-more-btn:hover {
  border-color: var(--main-color);
}

.catalog-more-btn:active {
  color: rgba(0,0,0,0.3);
}

.catalog-more-btn:focus {
  outline: 2px solid var(--violet);
}

.pagination {
  max-width: 760px;
  margin: 0 auto;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  margin: 0 auto;
}

.pagination-item {
  display: flex;
  align-items: center;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
  padding: 25px;
}

.pagination-item-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  font-size: var(--main-font);
  font-family:"Rubick", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 14px;
  line-height: 20px;
}

.pagination-item-link:hover {
  opacity: 1;
}

.pagination-item-link:active {
  opacity: 0.1;
}

.pagination-item-link:focus {
  outline: 2px solid var(--violet);
}

.pagination-link:hover {
  background-color: #dcdcdc;
}

.pagination-link:active {
  color: rgba(0,0,0,0.3);
}

.pagination-link:focus {
  outline: 2px solid var(--violet);
}



.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
}
